.container {
  height: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  background-image: url(./images/pattern-29.svg);
}

.message-input-con {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  width: 100%;
  height: calc(100% - 93%);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.message-input-con input {
  width: calc(100% - 10%);
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 13px;
}

.message-input-con button {
  width: calc(100% - 95%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.message-input-con button svg {
  height: 25px;
  color: #6c6c6c;
}

.messages-con {
  width: 100%;
  height: calc(100% - 7%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  padding: 10px;
  display: flex;
}

.message-content {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: #fff;
  width: 300px;
  max-width: max-content;
}

.message-content p { 
  width: 100%;
  overflow-wrap: break-word;
}


.message-mine {
  background-color: #6495ed;
  border-radius: 15px 15px 15px 0;
}
.message-yours {
  background-color: #2a3a58;
  border-radius: 15px 15px 0 15px;
}


@media (min-width: 320px) {
  .container {
    width: 100vw;
    border-radius: 0;
  }
  .message-content{
    width: 300px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 700px;
    border-radius: 25px;
  }
  .message-content{
    width: 400px;
  }
}

@media (min-width: 1281px) {
  .container {
    width: 1000px;
    border-radius: 25px;
  }
  .message-content{
    width: 500px;
  }
}
