:root {
  --purple-color: #6453de;
  --bg-color: #121417;
  --white: #fff;
  --dark-gray: #2b2b2c;
}

.container {
  height: 100%;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  background-image: url(./images/pattern-29.svg);
  
}

.top-bar {
  color: var(--white);
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  gap: 5px;
  height: 50px;
  background-color: var(--dark-gray);
}

.top-bar span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1ad45b;
}

.message-input-con {
  background-color: var(--dark-gray);
  padding: 5px;
  position: absolute;
  width: 100%;
  height: calc(100% - 93%);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.message-input-con input {
  width: calc(100% - 10%);
  height: 100%;
  border: none;
  padding: 10px;
  color: var(--white);
  background-color: transparent;
  font-size: 13px;
}

.message-input-con button {
  width: calc(100% - 95%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.message-input-con button svg {
  height: 25px;
  color: var(--white);
}

.messages-con {
  width: 100%;
  height: calc(100% - 7%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  padding: 10px;
  display: flex;
}

.message-content {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: var(--white);
  width: 300px;
  max-width: max-content;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.message-content p {
  width: 100%;
  overflow-wrap: break-word;
}

.message-content span {
  color: var(--white);
  width: 100%;
  height: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.message-mine {
  background-color: var(--dark-gray);
  border-radius: 15px 15px 15px 0;
}
.message-yours {
  background-color: var(--purple-color);
  border-radius: 15px 15px 0 15px;
}

@media (min-width: 320px) {
  .container {
    width: 100vw;
    border-radius: 0;
  }
  .message-content {
    width: 300px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 700px;
    border-radius: 25px;
  }
  .message-content {
    width: 400px;
  }
}

@media (min-width: 1281px) {
  .container {
    width: 1000px;
    border-radius: 25px;
  }
  .message-content {
    width: 500px;
  }
}
