.container {
  height: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  background-image: url(./images/pattern-29.svg);
}

.message-input-con {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  width: 100%;
  height: calc(100% - 93%);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.message-input-con input {
  width: calc(100% - 10%);
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 13px;
}

.message-input-con button {
  width: calc(100% - 95%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.message-input-con button svg {
  height: 25px;
  color: #6c6c6c;
}

.messages-con {
  width: 100%;
  height: calc(100% - 7%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message-con {
  max-width: max-content;
  height: 100px;
  background-color: #6495ed;
}

.message-mine {
  border-radius: 20px 20px 20px 0;
}

@media (min-width: 320px) {
  .container {
    width: 100vw;
    border-radius: 0;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 700px;
    border-radius: 25px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 1000px;
    border-radius: 25px;
  }
}